.intro{
    min-height: 500px;
    margin-top: 100px;
}

.intro p{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.navbar-brand{
    font-family: 'The Nautigal', cursive;
    font-size: 40px;
}
.navbar-nav{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}


