.intro{
    min-height: 500px;
}

.intro p{
    font-family: 'Dancing Script', cursive;
    line-height: 1.7;
}

.navbar-brand{
    font-family: 'The Nautigal', cursive;
    font-size: 40px;
}
.navbar-nav{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

.our-menu h1{
    font-family: 'The Nautigal', cursive;
    font-size: 100px;
}

.our-menu h2{
    font-family: 'Nunito', sans-serif;
}

.our-menu p{
    font-family: 'Dancing Script', cursive;
}

footer h5, div, a{
    font-family: 'Nunito', sans-serif;
}


